.progress-some{
    background: #d1d1d1;
    height: 25px;
    width: 200px;
}
.progress-new{
    background: #8e44ad;
    height: 25px;
}
.language{
    font-family: "Roboto", sans-serif;
    font-size: 1.3rem;
    text-transform: uppercase;
}
.resume-title{
  font-weight: 700;
  font-family: "Poppins", sans-serif;
  text-transform: uppercase;
  color: var(--purple-color);
  letter-spacing: 2px;
}