@import url("https://fonts.googleapis.com/css2?family=Courgette&family=Lato&family=Poppins&family=Raleway&family=Roboto&display=swap");
:root {
  --primary-app-color: #0099ff;
  --secondary-app-color: #001528;
  --purple-color: #8e44ad;
  --standout-color: #e67e22;
}
.App {
}
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  outline: none;
  border: none;
  text-decoration: none;
}
html {
  scroll-behavior: smooth;
}
body {
  font-family: "Helvetica", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow-x: hidden;
}
.offset:before {
  height: 4rem;
  margin-top: -4rem;
  content: "";
  display: block;
}
/*============= TOP SCROLL =============*/

.top-scroll svg.svg-inline--fa {
  font-size: 3rem;
  height: 1.7rem;
  color: #53595f;
  background: white;
}
a.top-scroll {
  right: 1.2rem;
  bottom: 1.2rem;
  position: fixed;
  opacity: .3;
  z-index: 1000;
  display: none;
}
a.top-scroll:hover {
  opacity: .5;
}

/* ========= NAVIGATION SECTION ========= */

.nav-link {
  color: #000;
  font-family: "Raleway", sans-serif;
  font-size: 1.3rem;
}
.brand-name {
  font-family: "Poppins", sans-serif;
  color: #000;
  font-size: 2rem;
}

/* ========= HERO SECTION ========= */
.herosection-button {
  color: var(--purple-color)!important;
  border-color: var(--purple-color)!important;
}
.herosection-button:hover {
  background: var(--purple-color)!important;
  color: #fff!important;
}
.herosection {
  background: linear-gradient(
    -9,
    var(--primary-app-color),
    var(--secondary-app-color)
  );
}
.main-caption {
  font-family: "Courgette";
  text-shadow: 1px 1px 1px;
  color: #2c3e50;
  opacity: 0.5;
}

.herosection-2 {
  padding-top: 60px;
}
.Im-text-section {
  padding-top: 52px;
  text-align: center;
}
.Im-text {
  font-family: "Lato", sans-serif;
  color: #000;
  font-weight: 700;
  font-size: 1.4rem;
}
.name-Im-text {
  color: var(--standout-color);
  font-size: 28px;
}
.Im-text-enthusiastic {
  color: var(--primary-app-color);
  font-weight: 700;
}
.Im-text-subheading {
  font-family: "Lato", sans-serif;
  color: #000;
  font-size: 1.4rem;
}
.custom-avatar {
  border-radius: 50%;
}

/* ========= ABOUT SECTION ========= */

.about-me-section {
  background: var(--primary-app-color);
}
.section-heading {
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-size: 3rem;
  letter-spacing: 2px;
  text-align: center;
  text-shadow: 1px 1px 1px;
}
.section-subheading {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-size: 1rem;
  text-transform: capitalize;
  text-align: center;
  color: #8e44ad;
}
.about-content-wrapper {
  background: #fff;
  margin-inline: auto;
  border-radius: 2px;
}
.some-text-about-me {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 1.1rem;
  text-align: justify;
}
.few-highlights {
  font-family: "Roboto", sans-serif;
  padding-block: 12px;
}
.few-text {
  font-weight: 700;
  font-size: 1.1rem;
}
.few-list {
  font-family: "Roboto", sans-serif;
  font-size: 1rem;
}

/* ========= RESUME SECTION ========= */

.resume-outer-section {
  margin-bottom: 10rem;
}
.resume-options-items {
  font-family: "Raleway", sans-serif;
  font-size: 1.2rem;
  width: 1%;
  transition: all 0.3s ease-in-out;
  padding-block: 24px;
  padding-inline: 24px;
  color: #000;
  cursor: pointer;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
}
.resume-options-items:hover {
  width: 100%;
  background: var(--purple-color);
  color: #fff;
}
.icons-span {
  margin-block: 26.5px;
  margin-inline: 24px;
}
.selected {
  width: 100%;
  background: var(--purple-color);
  color: #fff;
}
.bg-new {
  background: #f1f1f1;
}
.resume-outer-section {
  padding-top: 100px;
  padding-bottom: 100px;
}
.resume-right-section {
  padding-block: 2rem;
}
.resume-left-section {
  height: 307px;
}

/* ========= TESTMONIAL SECTION ========= */
.testimonial-bg-image {
  background-image: url("./assets/images/testimonial-bg.jpg");
  min-height: 50vh;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  z-index: -1000;
  background-position: center auto;
}
.caption {
  width: 100%;
  max-width: 100%;
  position: absolute;
  margin-top: -30vh;
  z-index: 1;
}

/* ========= CONTACT SECTION ========= */
.contact-me-part {
  background: #bdc3c7;
}
.contact-wrapper {
  padding-top: 2rem;
  padding-bottom: 8rem;
}
/* ========= FOOTER SECTION ========= */

.custom-icons {
  transition: all 0.3s ease-in-out;
  color: #fff;
}
.custom-icons:hover {
  color: var(--primary-app-color);
}

/*============= MEDIA QUERIES =============*/

/* Devices under 992px (lg) */
@media (max-width: 991px) {

}

/* Devices under 768px (md) */
@media (max-width: 767px) {

}

/* Devices under 576px (sm) */
@media (max-width: 575px) {
 .brand-name{
   font-size: 1.4rem;
 }
}


/*============ BOOTSTRAP BREAK POINTS:

Extra small (xs) devices (portrait phones, less than 576px)
No media query since this is the default in Bootstrap

Small (sm) devices (landscape phones, 576px and up)
@media (min-width: 576px) { ... }

Medium (md) devices (tablets, 768px and up)
@media (min-width: 768px) { ... }

Large (lg) devices (desktops, 992px and up)
@media (min-width: 992px) { ... }

Extra (xl) large devices (large desktops, 1200px and up)
@media (min-width: 1200px) { ... }

=============*/